*,
*::before,
*::after,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 18px;
  text-align: center;
  background-color: var(--color-white); }

img {
  display: block;
  width: 100%; }

ul,
ol {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

h1,
h2,
h3 {
  font-family: var(--font-family-fraunces); }

p,
.footer__nav-item {
  font: var(--font-family-barlow); }

.logo {
  width: 7.7rem;
  margin: 1rem; }

:root {
  --color-soft-red: hsl(7, 99%, 70%);
  --color-yellow: hsl(51, 100%, 49%);
  --color-dark-design-cyan: rgb(37, 86, 75);
  --color-lighter-cyan: hsl(168, 34%, 41%);
  --color-footer-cyan: hsl(168, 44%, 70%);
  --color-dark-desaturated-blue: hsl(212, 27%, 19%);
  --color-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --color-dark-grayish-blue: hsl(232, 10%, 55%);
  --color-grayish-blue: hsl(210, 4%, 67%);
  --color-bg-blue: hsl(196, 71%, 73%);
  --color-hover-blue: rgba(168, 221, 240, 0.5);
  --color-white: hsl(0, 0%, 100%);
  --font-family-barlow: "Barlow", sans serif;
  --font-family-fraunces: "Fraunces", serif; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; }

.navbar__item {
  position: relative;
  padding: 0.5rem; }

.navbar__item:not(:last-child)::after {
  position: absolute;
  content: "";
  display: block;
  background: var(--color-white);
  height: 0.3rem;
  bottom: 0;
  width: 0;
  left: 50%;
  transition: width 0.3s ease 0s, left 0.3s ease 0s; }

.navbar__item:hover::after {
  width: 100%;
  left: 0; }

.close {
  display: none; }

.toggle-box {
  border: 2px solid white;
  padding: 0.5rem;
  color: white; }

.navbar__modal {
  display: none; }

.navbar__modal.active {
  clip-path: polygon(93% 9%, 100% 0, 100% 100%, 0 100%, 0 9%);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  padding: 3rem 0 1.5rem;
  font-family: var(--font-family-barlow);
  color: var(--color-dark-grayish-blue);
  animation: fadein 0.8s ease-in-out;
  z-index: 5; }

.navbar__modal.active a {
  font-size: 1.25rem; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.navbar__modal.active li {
  margin: 1rem; }

.toggle-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  float: right; }

.navbar__hamburger {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
  transition: transform 200ms ease; }

.navbar__hamburger::before,
.navbar__hamburger::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: inherit;
  width: inherit;
  height: inherit;
  transition: top 200ms ease 0.12s, transform 200ms ease; }

.navbar__hamburger::before {
  top: -6px; }

.navbar__hamburger::after {
  top: 6px; }

.toggle-box.open .navbar__hamburger {
  transform: rotate(45deg);
  transition: transform 200ms 0.12s ease; }

.toggle-box.open .navbar__hamburger::before {
  top: 0;
  transition: top 200ms ease; }

.toggle-box.open .navbar__hamburger::after {
  top: 0;
  transform: rotate(-90deg);
  transition: top 200ms ease, transform 200ms ease 0.12s; }

.btn-contact {
  display: block;
  max-width: 12rem;
  font-size: 0.9375rem;
  color: var(--color-dark-desaturated-blue);
  font-family: var(--font-family-fraunces);
  letter-spacing: 0.11px;
  text-transform: uppercase;
  background-color: var(--color-yellow);
  padding: 1rem 2rem;
  border-radius: 2rem; }

.header {
  position: relative;
  background-image: url(/images/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: var(--color-bg-blue);
  padding-bottom: 9rem; }

.header__logo-container {
  position: absolute;
  top: 2.2rem;
  left: 1rem; }

.header__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; }

.header__heading {
  font-size: 2.5rem;
  font-family: var(--font-family-fraunces);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 6.25px;
  color: var(--color-white);
  text-align: center;
  margin-top: 4rem;
  max-width: 20rem; }

.header__arrow {
  margin-top: 3rem;
  height: 7.5rem;
  width: 2.5rem; }

@media only screen and (min-width: 650px) {
  .navbar__modal {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-white);
    font-family: var(--font-family-barlow); }
  .navbar__modal.active {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(0);
    width: 0;
    padding: 0; }
  .navbar__modal li {
    margin: 0 1rem; }
  .toggle-box {
    display: none; }
  .btn-contact {
    background-color: var(--color-white); }
  .btn-contact:hover {
    background-color: var(--color-hover-blue);
    color: var(--color-white);
    transition: 0.3s ease; }
  .header {
    background-image: url(/images/desktop/image-header.jpg);
    padding-bottom: 15rem; }
  .header__heading {
    max-width: 100%;
    font-size: 3.5rem;
    margin-top: 6.6rem; }
  .header__arrow {
    width: 2.5rem; } }

.cta {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.cta__header {
  font-weight: 900;
  color: var(--color-dark-desaturated-blue);
  margin-top: 4rem;
  padding: 0 3rem; }

.cta__copy {
  padding: 0 2rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
  font-size: 1.125rem;
  color: var(--color-very-dark-grayish-blue); }

.cta__btn {
  text-transform: uppercase;
  font-family: var(--font-family-fraunces);
  font-weight: 900;
  font-size: 0.9375rem;
  letter-spacing: 1.5px;
  position: relative; }

.cta__btn::after {
  content: "";
  height: 0.625rem;
  width: 8.562rem;
  border-radius: 1rem;
  position: absolute;
  transform: translate(-8.1rem, 0.8rem);
  z-index: -1;
  background-color: var(--color-yellow);
  opacity: 0.4; }

.cta__btn:hover::after {
  opacity: 1; }

#learn-more__stand-out::after {
  background-color: var(--color-soft-red);
  opacity: 0.4; }

#learn-more__stand-out:hover::after {
  opacity: 1; }

.cta__stand-out {
  margin-top: 4rem;
  width: 100%; }

.cta__photography,
.cta__graphic {
  background-repeat: no-repeat;
  background-size: cover;
  height: 170vw;
  display: flex;
  flex-direction: column;
  place-content: flex-end;
  align-items: center; }

.cta__graphic {
  margin-top: 4rem;
  background-image: url(/images/mobile/image-graphic-design.jpg); }

.cta__photography {
  margin-top: 0;
  background-image: url(/images/mobile/image-photography.jpg); }

.cta__photography p,
.cta__graphic p {
  font-size: 1rem;
  color: var(--color-dark-desaturated-blue); }

@media only screen and (min-width: 500px) {
  .cta__photography,
  .cta__graphic {
    height: 120vw; } }

@media only screen and (min-width: 650px) {
  .cta__photography,
  .cta__graphic {
    height: 110vw; } }

@media only screen and (min-width: 750px) {
  .cta__header {
    margin: 0;
    padding: 0; }
  .cta__text-wrap {
    max-width: 26rem;
    text-align: left; }
  .cta__photography-text-wrap {
    max-width: 30rem; }
  .cta__graphic-text-wrap {
    max-width: 40rem; }
  .cta__copy {
    padding: 0; }
  .cta__stack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%; }
  #cta--order1 {
    order: 1; }
  #cta--order2 {
    order: 2; }
  .cta__stand-out,
  .cta__graphic {
    margin: 0; }
  .cta__photography {
    background-image: url(/images/desktop/image-photography.jpg); }
  .cta__graphic {
    background-image: url(/images/desktop/image-graphic-design.jpg); }
  .cta__photography,
  .cta__graphic {
    height: 43vw; } }

.testimonials {
  text-align: center;
  padding: 2rem; }

.testimonials__header {
  margin-top: 4rem;
  text-transform: uppercase;
  font-size: 1rem;
  color: var(--color-grayish-blue); }

.testimonials__card {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.testimonials__img {
  width: 4.6875rem;
  border-radius: 50%; }

.testimonials__copy {
  font-size: 1.125rem;
  margin-top: 2rem;
  line-height: 1.7;
  letter-spacing: 0.13px; }

.testimonials__name {
  font-size: 1.125rem;
  margin-top: 2rem; }

.testimonials__title {
  font-size: 0.875rem; }

@media only screen and (min-width: 750px) {
  .testimonials__card {
    max-width: 21rem;
    margin: 1rem; }
  .testimonials__cards-wrapper {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; } }

.footer {
  margin-top: 5.375rem;
  background-color: var(--color-footer-cyan);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; }

.footer__img-stack {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.footer__img {
  object-fit: cover;
  height: 100%; }

.footer__logo-container {
  margin-top: 3rem; }

#footer__logo {
  fill: var(--color-lighter-cyan); }

.footer__nav-list,
.footer__socials-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%; }

.footer__nav-item {
  margin: 2.5rem 2rem 0;
  font-family: var(--font-family-barlow);
  color: var(--color-lighter-cyan); }

.footer__socials-list {
  margin-top: 5.5rem; }

.footer__socials-icon {
  width: 40%;
  margin: 0 1rem; }

.attribution {
  font-size: 0.875rem;
  margin-top: 4rem;
  color: var(--color-lighter-cyan); }

@media only screen and (min-width: 750px) {
  .footer__img-stack {
    display: grid;
    grid-template-columns: repeat(4, 1fr); } }
