.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;

  overflow: hidden;
}

// .navbar__modal li {
//   // display: none;
// }

.navbar__modal.active {
  display: flex;
}

.navbar-links {
  z-index: 5;
  display: flex;
  flex-direction: row;
  background-color: var(--color-white);
  clip-path: polygon(93% 9%, 100% 0, 100% 100%, 0 100%, 0 9%);
  font-family: var(--font-family-barlow);

  width: 90vw;
  padding: 3rem;
  text-align: center;
  // display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 3rem;
  left: -8rem;
  animation: fadein 0.7s;
}

// .navbar__modal {
//   // width: 90vw;
//   // padding: 3rem;
//   // text-align: center;
//   // display: none;
//   // flex-direction: column;
//   // align-items: center;
//   // position: relative;
//   // top: 3rem;
//   // left: -8rem;
//   // animation: fadein 0.7s;

//   // z-index: 5;
// }

.navbar__toggle {
  position: absolute;
  right: 1rem;
  // display: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
}

.navbar__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  float: right;
}

.navbar__item {
  font-family: var(--font-family-barlow);
  font-size: 1.25rem;
  letter-spacing: 0.15px;
  color: var(--color-dark-grayish-blue);
  margin-top: 2rem;
}

.btn-contact {
  display: block;
  max-width: 12rem;
  font-size: 0.9375rem;
  color: var(--color-dark-desaturated-blue);
  font-family: var(--font-family-fraunces);
  letter-spacing: 0.11px;
  text-transform: uppercase;
  background-color: var(--color-yellow);
  padding: 1rem 2rem;
  border-radius: 2rem;

  margin-bottom: 3rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 650px) {
  // .navbar {
  //   // justify-content: space-between;
  //   // align-items: center;
  // }

  // .navbar__modal {
  //   // display: flex;
  //   // flex-direction: row;
  //   // align-items: center;
  //   // flex-direction: row;
  //   // align-items: center;
  //   // background-color: transparent;
  //   // position: relative;
  //   // top: 0rem;
  //   // left: 0rem;
  //   // padding: 0;
  //   // width: 100%;
  // }

  .navbar__item {
    margin: 1rem;
    color: white;
  }

  .navbar__toggle {
    display: none;
  }

  .btn-contact {
    background-color: white;
  }

  // .navbar__li {
  //   display: flex;
  //   padding: 2rem;
  //   border: 2px solid black;
  //   width: 100%;
  // }
}
