.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navbar__modal {
  font-family: var(--font-family-barlow);

  clip-path: polygon(93% 9%, 100% 0, 100% 100%, 0 100%, 0 9%);
  background-color: var(--color-white);
  width: 90%;
  padding: 3rem 0;
  text-align: center;
  display: flex;
  // display: grid;
  // place-content: center;
  position: relative;
  top: 3rem;
  left: 2.2rem;
  animation: fadein 0.7s;

  z-index: 5;
}

.navbar__links {
  display: block;
  padding: 1rem;
}

.navbar-links.active {
  display: flex;
}

.navbar__toggle {
  position: absolute;
  right: 1rem;
  // display: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
}

// .navigation {
//   width: 100%;
//   position: absolute;
//   top: 2rem;
//   left: -1rem;
// }

.navbar__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;

  float: right;
}

.navbar__hamburger {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--color-white);

  transition: transform 200ms ease;
}

.navbar__hamburger::before,
.navbar__hamburger::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background-color: inherit;
  width: inherit;
  height: inherit;

  transition: top 200ms ease 0.12s, transform 200ms ease;
}

.navbar__hamburger::before {
  top: -6px;
}

.navbar__hamburger::after {
  top: 6px;
}

.navbar__toggle.open .navbar__hamburger {
  transform: rotate(45deg);
  transition: transform 200ms 0.12s ease;
}

.navbar__toggle.open .navbar__hamburger::before {
  top: 0;
  transition: top 200ms ease;
}

.navbar__toggle.open .navbar__hamburger::after {
  top: 0;
  transform: rotate(-90deg);
  transition: top 200ms ease, transform 200ms ease 0.12s;
}

.navbar__item {
  font-family: var(--font-family-barlow);
  font-size: 1.25rem;
  letter-spacing: 0.15px;
  color: var(--color-dark-grayish-blue);
  margin-top: 2rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (min-width: 650px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
  }

  .navbar__modal {
    align-items: center;
    background-color: transparent;
    position: relative;
    top: 0rem;
    left: 0rem;
    padding: 0;
    width: 100%;
  }

  .navbar__item {
    margin: 1rem;
    color: white;
  }

  .navbar__toggle {
    display: none;
  }

  .btn-contact {
    background-color: white;
  }

  // .navbar__li {
  //   display: flex;
  //   padding: 2rem;
  //   border: 2px solid black;
  //   width: 100%;
  // }
}
