:root {
  --color-soft-red: hsl(7, 99%, 70%);
  --color-yellow: hsl(51, 100%, 49%);
  --color-graphic-design-cyan: hsl(167, 40%, 24%);
  --color-photography-blue: hsl(198, 62%, 26%);
  --color-footer-cyan: hsl(168, 34%, 41%);

  --color-dark-desaturated-blue: hsl(212, 27%, 19%);
  --color-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --color-very-dark-grayish-blue: hsl(232, 10%, 55%);
  --color-grayish-blue: hsl(210, 4%, 67%);
  --color-white: hsl(0, 0%, 100%);

  --font-family-barlow: "Barlow", sans serif;
  --font-family-fraunces: "Fraunces", serif;
}

*,
*::before,
*::after,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 18px;

  background-color: var(--color-white);
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  position: relative;
  height: 95vh;
  background-image: url(/images/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: grid;
  place-content: center;
}

.header__logo-container {
  position: absolute;
}

.logo {
  width: 7.7rem;
}

.header__text-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  top: 30%;
}

.header__heading {
  font-size: 2.5rem;
  font-family: var(--font-family-fraunces);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 6.25px;
  color: var(--color-white);
  text-align: center;
}

.header__arrow {
  margin-top: 3rem;
  height: 7.5rem;
}
